/* It is recommended to place all your extra/additional CSS rules here */
#event-info {
    text-align: center;
}

.event-chunk {
    padding: 0.25em;
}

#people-title {
    text-align: center;
}

.text-small {
    font-size: 0.75em;
}

.feature-text {
    text-align: right;
}

#form-number {

}

.radio {
    text-align: left
}
.picture-slide {
    width: 800px;
    height: 680px;
}

.biography-pop-up {
    font-size: 12px;
    text-align: left;
}

.biography-pop-up-image{
    height:auto;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-underlay {
    background: rgb(54, 25, 25);
    background: rgba(54, 25, 25, 0.5);
}

.blurb > p {
    font-size: 0.6em;
    line-height: 1.4;
}

.blurb > h2 {
    font-size: 1em !important; 
}