/* It is recommended to place all your extra/additional CSS rules here */
#event-info {
    text-align: center;
}

.event-chunk {
    padding: 0.25em;
}

#people-title {
    text-align: center;
}

.text-small {
    font-size: 0.75em;
}

.feature-text {
    text-align: right;
}

#form-number {

}

.radio {
    text-align: left
}
.picture-slide {
    width: 800px;
    height: 680px;
}